<div class="jumbotron center">
  <h1>Our Family Recipies Book</h1>
  <h2>The best family recipe sharing app</h2>
  <%= link_to "Sign up", signup_path, class: "btn btn-warning btn-lg" %>
</div>

      <!-- Three columns of text below the jumbotron -->
<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="https://s3.amazonaws.com/myrecipies/assets/2.jpg" alt="Generic placeholder image" width="140" height="140">
    <h2><%= Recipe.first.name %></h2>
    <p><%= Recipe.first.description %></p>
    <p><%= link_to raw('View details &raquo;'), recipes_path, class: "btn btn-default" %></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="https://s3.amazonaws.com/myrecipies/assets/4.jpg" alt="Generic placeholder image" width="140" height="140">
    <h2><%= Recipe.second.name %></h2>
    <p><%= Recipe.second.description %></p>
    <p><%= link_to raw('View details &raquo;'), recipes_path, class: "btn btn-default" %></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="https://s3.amazonaws.com/myrecipies/assets/5.jpg" alt="Generic placeholder image" width="140" height="140">
    <h2><%= Recipe.third.name %></h2>
    <p><%= Recipe.third.description %></p>
    <p><%= link_to raw('View details &raquo;'), recipes_path, class: "btn btn-default" %></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

